<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/default}">   
        
    <header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .rightheader}"></th:block>
	</header>
	<section layout:fragment="content" class="mt-3">
		<div class="afterapply-phase">
			리퀘스트 신청이 완료되었습니다.<br>
			<a href="#" class="summary-apply-view">휴가신청내역 조회</a>
			하기
		</div>
	</section>
        
</html>