<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        

	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .miniheader}"></th:block>
	</header>
	
	<section layout:fragment="content">
		<div class="main-content">
			<div class="beforeApply-calendar">
				 <div id='calendar'></div>
			</div>
			<div class="apply-content">
				<div>
					<input type="text" class="requestDate form-control" id="request-start-date" placeholder="휴가시작날짜(달력에서 클릭해주세요.)" value="">
				</div>
				<div>
					<input type="text" class="requestDate form-control" id="request-end-date" placeholder="휴가종료날짜(달력에서 클릭해주세요.)" value="">
				</div>
				<div>
					<input class="requestMenuBtn dropdown-toggle" type="text" data-toggle="dropdown" aria-expanded="false" placeholder="종류선택" value="">			
  					<div class="dropdown-menu">
    					<a class="dropdown-item" href="#" value="오프">오프</a>
   						<a class="dropdown-item" href="#" value="연가">연가</a>
  					</div>
  				</div>
				<div>
					<input type="text" class="form-control" id="requestReason" placeholder="사유작성(팀장만 볼 수 있어요.)">
				</div>
				<div class="vacApplyBtn-div">
					<div id="vacApplyBtn">신청하기</div>
				</div>
			</div>
		</div>
	</section>
	
	<script layout:fragment="script">
		document.addEventListener('DOMContentLoaded', function() {
    		var calendarEl = document.getElementById('calendar');
    		var calendar = new FullCalendar.Calendar(calendarEl, {
      			initialView: 'dayGridMonth'
      			,locale : 'ko'
      			,selectable : true
      			,headerToolbar: {
         	 		start:'title'
          			,center:''
          			,end:'prev,next'  
       			}
      			,select: function(obj) {
    	  			$("#request-start-date").attr('value', obj.startStr + " 00:00");
    	  			$("#request-end-date").attr('value', obj.endStr + " 00:00");
      			}	
     		 	,dayCellContent:function(e){
      				return e.dayNumberText.replace('일',''); 
      			}
    		});   		
    		calendar.render();
    		
    		
  		});
		
  		$('.dropdown-menu > a').on('click',function(){
	  		$('.requestMenuBtn').attr('value', $(this).text());
 	 	})
 	 	
 	 	
 	 	new Promise((succ, fail) => {
 	 		
 	 		$("#vacApplyBtn").on('click', function(){
 	 	 		let startDay = $("#request-start-date").val();
 	 	 		let endDay = $("#request-end-date").val();
 	 	 		let type = $(".requestMenuBtn").val();
 	 	 		let comment = $("#requestReason").val();
 	 	 		
 	 	 		if(startDay == ""){
 	 	 			alert("휴가 시작일자가 설정되지 않았습니다.");
 	 	 			return;
 	 	 		}
 	 	 		
 	 	 		if(endDay == ""){
 	 	 			alert("휴가 종료일자가 설정되지 않았습니다.");
 	 	 			return;
 	 	 		}
 	 	 		if(type == ""){
 	 	 			alert("휴가 종류가 설정되지 않았습니다.");
 	 	 			return;
 	 	 		}
 	 	 		if(comment == ""){
 	 	 			alert("휴가 사유가 설정되지 않았습니다.");
 	 	 			return;
 	 	 		}
 	 	 		
 	 	 		$.ajax({
 	 	 			type:"post"
 	 	 			,url:"/holiday/apply"
 	 	 			,data:{"startDay" : startDay, "endDay" : endDay, "type" : type, "comment" : comment}
 	 	 			,success:function(data){
 	 	 				succ(data.success)
 	 	 				location.href="/holiday/after-apply-view";
 	 	 			} ,error:function() {
 	 	 				fail(data.fail)
 	 	 				alert("휴가신청에러!");
 	 	 			}
 	 	 		})
 			})	 	 		 		
 	 	}).then((arg) => {
 	 			$.ajax({
 	 				type:"post"
 	 				,url:"/work/insert/holiday"
 	 				,data:{"type" : arg.type
 	 					  ,"startDay" : arg.startDay
 	 					  ,"endDay" : arg.endDay
 	 					  ,"userId" : arg.userId}
 	 				,success:function(data){
 	 					if(data.result == "success"){
 	 						alert("work table 저장완료")
 	 					} else {
 	 						alert("work table 저장실패")
 	 					}
 	 				}, error : function(){
 	 					alert("work table 저장에러")
 	 				}
 	 			})
 	 	})
  		
 	 
    </script>
</html>