<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        
    <header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .miniheader}"></th:block>
	</header>
	<section layout:fragment="content">
		<div class="content d-flex">
			<nav>
				<div class="high-nav">
					<th:block th:replace="~{fragments/navbar :: .navbar}"></th:block>
				</div>
				<div class="low-nav">
					<th:block th:replace="~{fragments/navbar :: .low-navbar}"></th:block>
				</div>
			</nav>	
			<div class="calendar-detailview">
				<div id="calendar"></div>
			</div>
			<div>
				<div id="change-applyBtn"><a href="/holiday/before-apply-view">휴가 추가하기</a></div>
			</div>
		</div>
	</section>
	
	<script layout:fragment="script">
		document.addEventListener('DOMContentLoaded', function() {
  			var calendarEl = document.getElementById('calendar');
	    	var calendar = new FullCalendar.Calendar(calendarEl, {
	  				initialDate: '2024-10-09'
	      			,initialView: 'dayGridMonth'
	      			,locale : 'ko'
	      			,selectable : false
	      			,droppable : true
	      			,headerToolbar: {
	         	 		start:'title'
	          			,center:''
	          			,end:'prev,next'  
	      			}
	    			,eventSources : [{
	    				events : function(info, successCallback){
	    						console.log(info);
	    	    				$.ajax({
	    	    					type:"post"
	    	    					,url : "/holiday/detail"
	    	    					,success : function(data){
	    	    						successCallback(data);
	    	    						console.log(data);
	    	    					}	
	    	    				})
	    				}
	    			}]
	     			,dayCellContent:function(e){
	      				return e.dayNumberText.replace('일',''); 
	      			}
	    			,eventClick:function(info){
	    				info.event.remove();
	    				var holidayId = info.event.extendedProps.holidayId;
	    				$.ajax({
	    					type:"delete"
	    					,url:"/holiday/delete"
	    					,data : {"holidayId" : holidayId}
	    					,success : function(data){
	    						if(data.result == "success"){
	    							location.reload();
	    						} else {
	    							alert("일정 삭제 실패!");
	    						}
	    					}, error : function(){
	    						alert("일정 삭제 에러!");
	    					}
	    				})
	    				
	    			}
	    		}); 
	    		calendar.render();
		});		
	</script>
</html>