<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        
	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .miniheader}"></th:block>
	</header>
	
	<section layout:fragment="content" class="d-flex">
		<div>
			<th:block th:replace="~{fragments/navbar :: .navbar}"></th:block>
		</div>
		<div class="request-detail-content">
			<div class="request-status-div">
				<p class="request-status-p">리퀘스트 신청 진행현황</p>
				<div id="worker">간호사</div>
				<div class="mr-5">
					<div id="count-chart"></div>
				</div>		
			</div>
			<div class="request-status-detail">
				<p class="request-status-p">리퀘스트 세부내용</p>
				<div id="request-detail-board">
					<div id="request-detail-board-content">	
						<div>간호사 총 팀원 : 13명</div>
						<hr>
						<div>미완료 :5명</div>
						<div id="unComplete-name">권미경 박수현 이은희 사과 메론</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	
	<th:block layout:fragment="modal">
		<div th:if="${position} == '팀장'">
		<div class="modal fade" id="approveBtnModal" role ="dialog" aria-hidden="true" >
				<div class="modal-dialog modal-dialog-centered" id="modal-dialog-alldetail">
					<div class="modal-content" id="modal-content-alldetail">
						<div class="modal-body-alldetail">
							<p>회원가입 신청 내역 입니다.</p>
							<th:block th:each="notApproveUser:${notApproveUserList}">
							<div class="modal-body-alldetail-div" th:data-user-data="${notApproveUser.id}" th:id="|userName${notApproveUser.id}|">
								<div class="modal-notApprove-name col-2" th:text="${notApproveUser.name}">권미경</div>		
								<div class="modal-approveBtn col-2"><a>승인</a></div>
								<div class="modal-holdBtn col-2"><a>보류</a></div>	
								<div class="modal-notApproveBtn col-2"><a>거부</a></div>	
							</div>
							</th:block>
						</div>
					</div>
				</div>
		</div>
		</div>
	</th:block>
	
	<script layout:fragment="script" type="text/javascript">
	 	google.charts.load('current', {'packages':['corechart']});
	    google.charts.setOnLoadCallback(drawCharts);
	    
	    function drawCharts() {
		    var data = google.visualization.arrayToDataTable([
		        ['직군', '완료'],
		        ['', 8]
		      ]);
	
		    var view = new google.visualization.DataView(data);
		      	view.setColumns([0, 1,
		    	  {
		    	  calc: "stringify",
                  sourceColumn: 1,
                  type: "string",
                  role: "annotation",
                  }
		      ]);	
		    var options = {
				   legend: 'none',
				   title: '',
				   width: 600,
				   height: 200,
				   bar: {groupWidth: "40%"},
				   colors : ['#E8F5FF'],
				   hAxis : {
				     viewWindow : {min : 0, max : 20}
				   },
				   chartArea:{left:15, top:10}
			}	 
		    var chart = new google.visualization.BarChart(document.getElementById('count-chart'));
				chart.draw(view, options);		
	    }
	    
	    $("#approveBtnModal").modal('show');
	    
	    $(document).ready(function(){
	    	let id = $(".modal-body-alldetail-div").data("user-data");
	    		
	    		//승인
	    		$(".modal-approveBtn").on('click',function(){
	    		
		    		$.ajax({
		    			 type:"post"
		    			,url: "/user/apply/approve"
		    			,data:{"userId" : id}
		    			,success:function(data){
		    				if(data.result == "success"){
		    					$("#userName" + id).addClass("d-none");
		    				} else {
		    					alert("승인실패!");
		    				}
		    			},error:function(){
		    				alert("승인에러!");
		    			}
		    		})
		    	})
		    	
		    	//보류
		    	$(".modal-holdBtn").on('click',function(){
		    		$("#userName" + id).addClass("d-none");
	   			})
	   			
	   			
	   			//거부
	   			$(".modal-notApproveBtn").on('click',function(){
	    		
		    		$.ajax({
		    			 type:"post"
		    			,url: "/user/apply/reject"
		    			,data:{"userId" : id}
		    			,success:function(data){
		    				if(data.result == "success"){
		    					$("#userName" + id).addClass("d-none");
		    				} else {
		    					alert("거부실패!");
		    				}
		    			},error:function(){
		    				alert("거부에러!");
		    			}
		    		})
		    	})
	    })
	 	    
	</script>
</html>