<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        

	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .header-synthesis}"></th:block>
	</header>
	<section layout:fragment="content">
		<table class="table text-center" id="scheduleTable">
			<thead>
				<tr th:with="${lastDay} = lastDay">
					<th> </th>
					<th:block th:each="i:${#numbers.sequence(1, lastDay)}">
						<th th:text="${i}"></th>
					</th:block>
				</tr>			
			</thead>
			<tbody>
				<tr th:each="scheduleTable : ${scheduleTableList}">
					<td th:text="${scheduleTable.name}"></td>
				</tr>
			</tbody>
		</table>
	</section>
	
	<script layout:fragment="script">
		$(document).ready(function(){
			var table = document.getElementById('scheduleTable');
			var rowList = table.rows;
			var cellCount = table.rows[0].cells.length;
			console.log(cellCount);
			
			var holidayArr = [];
			
			new Promise((succ, fail) => {
				$.ajax({
					type:"post"
					,url:"/holiday/calendar"
					,success : function(data){								
						for(var i = 0; i < data.length; i++){
							holidayArr.push(data[i]);
							succ(holidayArr);
						}
					}
					,error : function(){
						alert("이번달 휴가 목록 조회 에러!")
					}
				})	
				
			}).then((arg) => {				
				for(var i = 1; i < cellCount; i++){
					for(var j = 1; j < rowList.length; j++){
						var date = rowList[0].cells[i].innerHTML;
						var name = rowList[j].cells[0].innerHTML;
						
						for(var k = 0; k < arg.length; i++){
							var holidayName = arg[k].name;
							var start = arg[k].start;
							var end = arg[k].end;
							
							if(name == holidayName && start <= date 
									&& date <= end){
								rowList[j].cell[i].push("연가")
							}
						}	
					}
				}	
			})
		})
	</script>
</html>