<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/default}">

	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .bigTitle}"></th:block>
	</header>
	
	<section layout:fragment="content" class="mt-3">
		<div class="idInputDiv"><a href="/leader/make-view">
			<button type="button" id="makeRoomBtn">방 만들기</button>
			
		</a></div>
		<div class="pwInputDiv"><a href="/holiday/member-detail-view">
			<button type="button" id="manageRoomBtn">방 관리하기</button>
		</a></div>
		<div class="pwInputDiv"><a href="/holiday/before-apply-view">
			<button type="button" class="requestBtn" id="leader-requestBtn">리퀘스트 신청하기</button>
		</a></div>
	</section>
	
</html>