<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/default}">

	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .rightheader}"></th:block>
	</header>
	
	<section layout:fragment="content" class="mt-3">
		<div class="idInputDiv">
			<input type="text" class="idInput form-control" id="roomName" placeholder="방 이름">
		</div>
		<div class="pwInputDiv">
			<input type="password" class="pwInput form-control" id="roomPw" placeholder="방 비밀번호🔑">
		</div>
		<div class="pwInputDiv">
			<div data-toggle="modal" data-target="#BtnMakeRoom" class="BtnMakeRoom">방 만들기</div>
		</div>
	</section>
	
	<div layout:fragment="modal">
		<div class="modal fade" id="BtnMakeRoom">
  		<div class="modal-dialog modal-dialog-centered">
  			<div class="modal-content">     		
     			<div class="modal-body">
     				<p>같은 방 이름, 비밀번호가 존재합니다.</p>
      				<p>변경해주세요.</p>
      			</div>
      			<div>
      				<div data-dismiss="modal" class="closeBtn">Close</div>
      			</div>
    		</div>
 		 </div>
		</div>
	</div>
	
	<script layout:fragment="script">
		$(".BtnMakeRoom").on('click',function(){
			let roomName = $("#roomName").val();
			let roomPw = $("#roomPw").val();
			
			if(roomName == ""){
				alert("방 이름을 적어주세요.");
				return;
			}
			if(roomPw == ""){
				alert("방 비밀번호를 적어주세요.");
				return;
			}
			
			new Promise((succ, fail) =>{
				$.ajax({
					type:"post"
					,url : "/room/make"
					,data : {"roomName" : roomName, "roomPw" : roomPw}
					,success : function(data) {
						if(data.result == "success") {
							succ(data);
							console.log(data);
						} else {
							succ(data);
							console.log(data);
						}
					}
					,error : function(){
						fail(error);
						console.log("promiese 에러")
					}
				});
			}).then((arg) => {
				$.ajax({
					type:"post"
					,url:"/user/join/update"
					,data:{"roomName" : roomName, "roomPassword" : roomPw}
					,success:function(data){
						if(data.result == "success"){
							location.href="/leader/all-detail-view";
							alert("팀장 객체 업데이트 성공!");
						} else {
							alert("팀장 객체 업데이트 실패!");
						}
					}
					,error : function(){
						alert("팀장 객체 업데이트 에러!");
					}
				})
			})
		})
	</script>
</html>