<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        
	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .miniheader}"></th:block>
	</header>
	<section layout:fragment="content" class="d-flex">
		<div>
			<th:block th:replace="~{fragments/navbar :: .navbar-synthesis}"></th:block>
		</div>
		<div class="memberDetail-calendar">
			<div id='calendar'></div>
		</div>		
	</section>  
	
	<script layout:fragment="script">
		document.addEventListener('DOMContentLoaded', function() {
    		var calendarEl = document.getElementById('calendar');
    		var calendar = new FullCalendar.Calendar(calendarEl, {
      			initialView: 'dayGridMonth'
      			,locale : 'ko'
      			,selectable : false
      			,droppable : true
      			,displayEventTime: false
      			,headerToolbar: {
         	 		start:'title'
          			,center:''
          			,end:'prev,next'  
       			}
     		 	,dayCellContent:function(e){
      				return e.dayNumberText.replace('일',''); 
      			}
     		 	,eventSources : [{
     		 		events : function(info, successCallback) {
     		 			let startDate = moment(info.start).format("YYYY-MM-DD hh:mm")
     		 			let endDate = moment(info.end).format("YYYY-MM-DD hh:mm")
     		 			console.log(info)
     		 			console.log(endDate)
     		 			
     		 			$.ajax({
     		 				type:"post"
     		 				,url : "/holiday/detail/all"
     		 				,data :{"startDate" : startDate, "endDate" : endDate}
     		 				,success : function(data) {
     		 					successCallback(data);
     		 				}
     		 			})
     		 		}   		 		
     		 		,textColor : 'black'
     		 	}]
     		 	,eventDidMount : function(info) {
     		 		var offColor = '#DCEBFF';
     		 		var holidayColor = '#FFF56E';
     		 		if(info.event.extendedProps.type == '오프') {
     		 			info.el.style.backgroundColor = offColor;
     		 			info.el.style.borderColor = offColor;
     		 		} else if(info.event.extendedProps.type == '연가'){
     		 			info.el.style.backgroundColor = holidayColor;
     		 			info.el.style.borderColor = holidayColor;
     		 		}
     		 	}
    		});
    		calendar.render();
  		});
	</script>
</html>