<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        
	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .miniheader}"></th:block>
	</header>
	<section layout:fragment="content" class="d-flex">
		<div>
			<th:block th:replace="~{fragments/navbar :: .navbar}"></th:block>
		</div>
		<div class="set-Div d-flex">
			<div class="set-workCount">
				<p>근무 수 설정</p>
				<div class="set-Div-write">설정한 인원 수 만큼 근무장소에서 근무합니다.</div>
				<input class="set-Div-input form-control" id="set-workCount-input-1" value="" placeholder="D근무 수">
				<input class="set-Div-input form-control" id="set-workCount-input-2" value="" placeholder="E근무 수">
				<input class="set-Div-input form-control" id="set-workCount-input-3" value="" placeholder="N근무 수">
			</div>
			<div class="set-team">
				<p>팀 간호 설정</p>
				<div class="set-Div-write">설정한 팀별로 근무표를 만들어볼게요.</div>
				<div class="set-Div-write">한팀으로 일하는 곳은 항목을 하나로만 설정해주세요.</div>
				<div class="option-team">
					<div>
						<button class="optionTeamBtn dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-expanded="false" value="">A팀</button>		
	  					<div class="dropdown-menu">
	    					<div class="form-check">
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name1">
	    							<label class="form-check-label" for="name1">권미경</label>
	    						</div>
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name2">
	    							<label class="form-check-label" for="name2">박수현</label>
	    						</div>
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name3">
	    							<label class="form-check-label" for="name3">이은희</label>
	    						</div>
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name4">
	    							<label class="form-check-label" for="name4">김메론</label>
	    						</div>
	    					</div>
	  					</div>
  					</div>
  					
  					<div>
	  					<button class="optionTeamBtn dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-expanded="false" value="">B팀</button>		
	  					<div class="dropdown-menu">
	    					<div class="form-check">
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name5">
	    							<label class="form-check-label" for="name5">권미경</label>
	    						</div>
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name6">
	    							<label class="form-check-label" for="name6">박수현</label>
	    						</div>
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name7">
	    							<label class="form-check-label" for="name7">이은희</label>
	    						</div>
	    						<div class="team-item">
	    							<input type="checkbox" class="form-check-input" id="name8">
	    							<label class="form-check-label" for="name8">김메론</label>
	    						</div>
	    					</div>
	  					</div>
  					</div>
  				
				<div id="set-Btn">저장하기</div>
			</div>
		</div> 
	</div>
	</section>      
	
	<script layout:fragment="script">
		$("#set-Btn").on('click', function(){
			let Dduty = $("#set-workCount-input-1").val();
			let Eduty = $("#set-workCount-input-2").val();
			let Nduty = $("#set-workCount-input-3").val();
			
			new Promise((succ, fail) => {
				$.ajax({
					type:"post"
					,url:"/work/reset"
					,success:function(data){
						if(data.result =="success"){
							console.log("리셋 성공");
							succ("성공");
						} else {
							console.log("리셋 실패");
							fail("실패");
						}
					},error : function(){
						console.log("리셋 에러");
						fail("실패");
					}
				})
			}).then((arg)=>{
				$.ajax({
					type:"post"
					,url:"/work/random/day1"
					,data: {"Dduty" : Dduty, "Eduty" : Eduty, "Nduty" : Nduty}
					,success : function(data){
						if(data.result == "success"){
							alert("랜덤 근무표 가져오기 성공!");
						} else {
							alert("랜던 근무표 가져오기 실패!");
						}
					}
					,error : function(){
						alert("랜덤근무표 가져오기 에러!");
					}
				})
			})
	
		})
		
	</script>
</html>