<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- memberdetail view용 -->
<div class="calendar-colorInfo">
	<div>
		<div class="d-flex">
			<div id="off-infoBox"></div>
			<div id="off-infoTitle">오프</div>
		</div>
		<div class="d-flex">
			<div id="holiday-infoBox"></div>
			<div id="holiday-infoTitle">연가</div>
		</div>
	</div>
</div>

<!-- memberdetail view용 -->
<div class="calendar-colorInfo-detailview">
	<div>
		<div class="d-flex">
			<div id="off-infoBox"></div>
			<div id="off-infoTitle">오프</div>
		</div>
		<div class="d-flex">
			<div id="holiday-infoBox"></div>
			<div id="holiday-infoTitle">연가</div>
		</div>
	</div>
</div>
</html>

