<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<header class="bigTitle"><a href="/user/login-view">Davena</a></header>
	
	<header class="miniheader">
		<a href="/member/after-apply-view">Davena</a>
		<div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="profilePhoto"></div>
			<div class="dropdown-menu" id="profile-dropdown-menu">
				<a class="dropdown-item" href="">계정 관리</a>	
				<a class="dropdown-item" href="">휴가신청내역 조회</a>	
				<a class="dropdown-item" href="">휴가신청현황 조회</a>	
				<a class="dropdown-item" href="/user/logout">로그아웃</a>	
			</div>	
	</header>
	
	<header class="header-synthesis">
		<p>Davena</p>
		<nav class="navbar-width-version">
			<ul class="navbar-width-menu">
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					  <i class="fa-regular fa-calendar"></i> 신청 현황 조회
				</a></li>
				
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					<i class="fa-solid fa-pencil"></i> 휴가 기본 설정
				</a></li>
					
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					<i class="fa-solid fa-user-group"></i> 팀원 근무 설정
				</a></li>
				
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					<i class="fa-solid fa-square-poll-vertical"></i> 휴가 신청 현황
				</a></li>
			</ul>
		</nav>
		<div id="profilePhoto"></div>
	</header>
	
	<header class="rightheader">
		<p>Davena</p>
		<div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="profilePhoto"></div>
			<div class="dropdown-menu" id="profile-dropdown-menu">
				<a class="dropdown-item" href="">계정 관리</a>	
				<a class="dropdown-item" href="/user/logout">로그아웃</a>	
			</div>	
	</header>
	
	<header class="notheader">
		<p>Davena</p>
	</header>
	
	<header class="leftheader">
		<a href="/user/login-view">Davena</a>
	</header>
</html>