<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<header class="bigTitle">Davena</header>
	
	<header class="miniheader">
		<p>Davena</p>
		<div class="profilePhoto"></div>
	</header>
	
	<header class="header-synthesis">
		<p>Davena</p>
		<nav class="navbar-width-version">
			<ul class="navbar-width-menu">
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					  <i class="fa-regular fa-calendar"></i> 신청 현황 조회
				</a></li>
				
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					<i class="fa-solid fa-pencil"></i> 휴가 기본 설정
				</a></li>
					
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					<i class="fa-solid fa-user-group"></i> 팀원 근무 설정
				</a></li>
				
				<li class="menu-width-item"><a href="#" class="menu-width-link">
					<i class="fa-solid fa-square-poll-vertical"></i> 휴가 신청 현황
				</a></li>
			</ul>
		</nav>
		<div class="profilePhoto"></div>
	</header>
	
	<header class="rightheader">
		<p>Davena</p>
		<div class="profilePhoto"></div>
	</header>
	
	<header class="notheader">
		<p>Davena</p>
	</header>
	
	<header class="leftheader">
		<p>Davena</p>
	</header>
</html>