<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
	<nav class="navbar">
		<ul class="navbar_menu">
			<li class="menu-item"><a href="#" class="menu-link">
				  <i class="fa-regular fa-calendar"></i> 신청 현황 조회
			</a></li>
			
			<li class="menu-item"><a href="#" class="menu-link">
				<i class="fa-solid fa-pencil"></i> 휴가 기본 설정
			</a></li>
				
			<li class="menu-item"><a href="#" class="menu-link">
				<i class="fa-solid fa-user-group"></i> 팀원 근무 설정
			</a></li>
			
			<li class="menu-item"><a href="#" class="menu-link">
				<i class="fa-solid fa-square-poll-vertical"></i> 휴가 신청 현황
			</a></li>
		</ul>
	</nav>
	
	<nav class="navbar-synthesis">
		<ul class="navbar_menu">
			<li class="menu-item"><a href="#" class="menu-link">
				  <i class="fa-regular fa-calendar"></i> 신청 현황 조회
			</a></li>
			
			<li class="menu-item"><a href="#" class="menu-link">
				<i class="fa-solid fa-pencil"></i> 휴가 기본 설정
			</a></li>
				
			<li class="menu-item"><a href="#" class="menu-link">
				<i class="fa-solid fa-user-group"></i> 팀원 근무 설정
			</a></li>
			
			<li class="menu-item"><a href="#" class="menu-link">
				<i class="fa-solid fa-square-poll-vertical"></i> 휴가 신청 현황
			</a></li>
			
			<li class="menu-item"><a href="#" class="menu-link" id="synthesisBtn">
				<i class="fa-solid fa-circle-check"></i> 종합하기
			</a></li>
		</ul>
	</nav>
	
	
	<div class="low-navbar">
		<div class="low-navbar_menu">
			<div class="use-holiday">사용 연가 일수 : 8 / 21</div>
			<hr>
		</div>
		<div class="low-navbar_menu">
			<div class="remain-holiday">잔여 연가 일수 : 8 / 21</div>
			<hr>
		</div>
	</div>
</html>