<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        
	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .leftheader}"></th:block>
	</header>
	
	<section layout:fragment="content" class="d-flex justify-content-center">
		<div class="join-content mt-4">
			<div class="joinDiv d-flex">
				<input type="text" class="join-roomInfo form-control col-7" id="join-idInput" placeholder="아이디 입력">
				<div class="profile-btn col-5" id="check-duplicateBtn">중복확인</div>
			</div>
			<div class="d-none" id="duplicateText">이미 사용중인 ID입니다. 변경해주세요.</div>
			<div class="d-none" id="availableText">사용가능한 ID입니다.</div>
			<div class="joinDiv">
				<input type="password" class="join-roomInfo form-control" id="join-PwInput" placeholder="비밀번호 입력">
			</div>
			<div class="joinDiv">
				<input type="password" class="join-roomInfo form-control" id="join-checkPwInput" placeholder="비밀번호 확인">
			</div>
			<div class="joinDiv d-flex">
				<input type="text" class="join-roomInfo form-control col-6" id="join-userName" placeholder="이름">
				<label for="imgFile" class="profile-btn col-6 p-0">프로필 사진 선택</label>
				<input type="file" id="imgFile" style="display:none">
			</div>
			<div class="joinDiv">
				<div>
					<input class="dropdown-toggle" id="positionBtn" type="text" data-toggle="dropdown" aria-expanded="false" placeholder="직책 선택" value="">
		  			<div class="dropdown-menu">
		    			<a class="dropdown-item" href="#" value="join-team-leader">팀장</a>
		    			<a class="dropdown-item" href="#" value="join-team-member">팀원</a>
		  			</div>
	  			</div>
			</div>
			<div class="joinDiv">
				<input type="text" class="join-roomInfo form-control" id="join-roomName" placeholder="방 이름">
			</div>
			<div class="joinDiv">
				<input type="password" class="join-roomInfo form-control" id="join-roomPw" placeholder="방 비밀번호🔑">
			</div>
			<div class="joinDiv d-flex justify-content-end">
				<div id="join-accountBtn">계정만들기</div>
			</div>
		</div>
	</section>
	
	<script layout:fragment ="script">
		//drop-down의 value값 넣기
		$(".dropdown-menu > a").on('click',function(){
			$("#positionBtn").attr('value', $(this).text());
		})
		
		//Id중복확인
		$(document).ready(function(){	
    		//중복확인 여부
    		var checkDuplicate = false; 		
    		//중복여부
    		var isDuplicatedId = true;
    		
    		$("#join-idInput").on("input", function(){
    			//입력이 바뀌면 중복체크를 다시해야함 , 중복확인과정 초기화
    		
    			checkDuplicate = false;
    			isDuplicatedId = true;
    			$("#availableText").addClass("d-none");
    			$("#duplicateText").addClass("d-none");
    		})
    		$("#check-duplicateBtn").on('click',function(){
    			let id = $("#join-idInput").val();
    			if(id == "") {
    				alert("아이디를 입력하세요.");
    				return;
    			}
    			
    			$.ajax({
    				type:"get"
    				,url:"/user/duplicate-id"
    				,data:{"join-idInput" : id}
    				,success:function(data){
    					if(data.isDuplicate == true){
    						checkDuplicate = true;
    						isDuplicatedId = true;
    						$("#duplicateText").removeClass("d-none");
    						$("#availableText").addClass("d-none");
    					} else {
    						checkDuplicate = true;
    						isDuplicatedId = false;
    						$("#duplicateText").addClass("d-none");
    						$("#availableText").removeClass("d-none");
    					}
    				}, error:function(){
    					alert("중복확인 에러!");
    				}
    			})
    		})
		//계정만들기
		$("#join-accountBtn").on('click',function(){
			checkIsRoom = false;
			let id = $("#join-idInput").val();
			let password = $("#join-PwInput").val();
			let Checkpassword = $("#join-checkPwInput").val();
			let name = $("#join-userName").val();
			let imgFile = $("#imgFile")[0].files[0];
			let position = $("#positionBtn").val();
			let roomName = $("#join-roomName").val();
			let roomPassword = $("#join-roomPw").val();
			
			if(id == ""){
				alert("아이디를 입력해주세요.");
				return;
			}
			if(!checkDuplicate){
				alert("아이디 중복확인을 해주세요.");
				return;
			}
			if(password == ""){
				alert("비밀번호를 입력해주세요.");
				return;
			}
			if(Checkpassword == ""){
				alert("비밀번호 확인을 해주세요.")
				return
			}
			if(password != Checkpassword){
				alert("비밀번호가 서로 일치하지 않아요.");
				return;
			}
			
			if(name == "") {
				alert("이름을 입력해주세요.");
				return;
			}
			if(position == ""){
				alert("직책을 선택해주세요.");
				return;
			}
			if(roomName == ""){
				alert("참여할 방 이름을 적어주세요.");
				return;
			}
			if(roomPassword == ""){
				alert("방 비밀번호를 입력해주세요.");
				return
			}
			//있는 방인지 여부 확인
			$.ajax({
				type:"post"
				,url:"/room/duplicate-room"
				,data:{"roomName" : roomName, "roomPw" : roomPassword}
				,success:function(data){
					if(data.isDuplicate == true) {
						checkIsRoom = true;
						alert("가입가능");	
					} else {
						checkIsRoom = false;
						alert("가입불가.");
					}
				}, error:function(){
					alert("방 중복여부 확인 에러!");
				}
			})
			
			let formData = new FormData();
			formData.append("join-idInput", id);
			formData.append("join-checkPwInput", Checkpassword);
			formData.append("join-userName", name);
			formData.append("profile", imgFile);
			formData.append("position", position);
			formData.append("join-roomName", roomName);
			formData.append("join-roomPw", roomPassword);
			
			$.ajax({
				type:"post"
				,url :"/user/join"
				,data:formData
				,enctype:"multiplart/form-data"
				,processData:false
    			,contentType:false
    			,success:function(data){
    				if(data.result == "success" && checkIsRoom == true){
    					location.href="/user/before-apply-view";
    				} else {
    					alert("회원가입 실패!");
    				}
				} ,error:function(){
					alert("회원가입 에러!");
    			}
			})
			
			$.ajax({
				 type: "post"
				,url: "/user/apply"
				,data : {"roomName" : roomName , "roomPassword" : roomPassword}
				,success : function(data){
					if(data.result == "success"){
						alert("미승인 객체 조회 성공!");
					} else {
						alert("미승인 객체 조회 실패!");
					}
				}, error : function(){
					alert("미승인 객체 조회 에러!");
				}
			})
			
			
		})
	})
	</script>
</html>