<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/contents}">
        
	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .leftheader}"></th:block>
	</header>
	
	<section layout:fragment="content" class="d-flex justify-content-center">
		<div class="join-content mt-4">
			<div class="joinDiv d-flex">
				<input type="text" class="join-roomInfo form-control col-7" 
						id="join_idInput" name ="join_idInput"  placeholder="아이디 입력">
				<div class="profile-btn col-5" id="check-duplicateBtn">중복확인</div>
			</div>
	
	
			<!-- 유효성검사 -->
			<!-- Id 유효성검사 -->
			<div class="availableText d-none" id="availableText1">사용가능한 ID입니다.</div>
			<div class="availableText d-none" id="availableText2">사용가능한 ID조건입니다. 중복확인을 해주세요.</div>
			<div class="validation-text d-none" id="duplicateText">이미 사용중인 ID입니다.</div>
			<div class="validation-text d-none" id="failure-text1">사용가능한 글자 수는 7~12 입니다.</div>
			<div class="validation-text d-none" id="failure-text2">아이디는 영문,숫자조합만 가능합니다.</div>
			<div class="validation-text d-none" id="failure-text3">아이디를 입력해주세요.</div>
			<div class="validation-text d-none" id="failure-id1">아이디 중복확인을 해주세요.</div>
			
			<div class="joinDiv">
				<input type="password" class="join-roomInfo form-control" id="join_PwInput" name ="join_PwInput" placeholder="비밀번호 입력">
			</div>
			
			<!-- 비밀번호 유효성검사 -->
			<div class="validation-text d-none" id="failure-text4">비밀번호는 8글자 이상, 영문, 숫자, 특수문자 사용이 필요합니다.</div>
			<div class="validation-text d-none" id="failure-pw1">비밀번호를 입력해주세요.</div>
			<div class="availableText d-none" id="availableText4">사용가능한 비밀번호입니다.</div>
						
			<div class="joinDiv">
				<input type="password" class="join-roomInfo form-control" id="join_checkPwInput" name="join_checkPwInput"  placeholder="비밀번호 확인">
			</div>
			
			<!-- 비밀번호 일치여부확인 -->
			<div class="validation-text d-none" id="failure-text5">비밀번호가 서로 일치하지 않습니다.</div>
			<div class="availableText d-none" id="availableText5">비밀번호가 일치합니다.</div>
			<div class="validation-text d-none" id="failure-pw2">비밀번호 일치여부를 확인해주세요.</div>

			<div class="joinDiv d-flex">
				<input type="text" class="join-roomInfo form-control col-6" id="join_userName" name="join_userName"  placeholder="이름">
				
				<label for="imgFile" class="profile-btn col-6 p-0">프로필 사진 선택</label>
				
				<input type="file" id="imgFile" name="profile"  style="display:none">
			</div>
			
			<div class="validation-text d-none" id="failure-name1">이름을 입력해주세요.</div>
			
			<div class="joinDiv">
				<div>
					<input class="dropdown-toggle" id="positionBtn" type="text" data-toggle="dropdown" aria-expanded="false" placeholder="직책 선택" name="positionBtn" value="">
		  			<div class="dropdown-menu">
		    			<a class="dropdown-item" href="#" value="join-team-leader">팀장</a>
		    			<a class="dropdown-item" href="#" value="join-team-member">팀원</a>
		  			</div>
	  			</div>
			</div>
			
			<div class="validation-text d-none" id="failure-position1">직책을 선택해주세요.</div>
						
			<div class="joinDiv-room d-none">
				<div class="joinDiv">
					<input type="text" class="join-roomInfo form-control" id="join_roomName" name="join_roomName"  placeholder="방 이름">
				</div>
				<div class="joinDiv">
					<input type="password" class="join-roomInfo form-control" id="join_roomPw" name="join_roomPw"  placeholder="방 비밀번호🔑">
				</div>
			</div>
			<div class="joinDiv d-flex justify-content-end">
				<div id="join-accountBtn">계정만들기</div>
			</div>
		</div>
	</section>
	
	<script layout:fragment ="script">
		//drop-down의 value값 넣기
		$(".dropdown-menu > a").on('click',function(){
			
			$("#positionBtn").attr('value', $(this).text());
			let value = $("#positionBtn").val();
			
			if(value == "팀장") {
				$(".joinDiv-room").addClass("d-none");
				return;
			} else {
				$(".joinDiv-room").removeClass("d-none");
				return;
			}
		})
		
		//아이디 : 글자 수 제한
		function idLength(str){
			return str.length >= 7 && str.length <= 12;
		}
		//아이디 : 영어 또는 숫자만 가능
		function onlyNumberAndEnglish(str){
			return /^[A-Za-z0-9][A-Za-z0-9]*$/.test(str);
		}
		//비밀번호 : 8글자이상, 영문, 숫자, 특수문자 사용
		function strongPassword(str) {
			  return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(str);
		}
		//비밀번호 : 일치여부
		function isMatch(password1, password2) {
			  return password1 == password2;
		}
			
		$(document).ready(function(){	
    		//중복확인 여부
    		var checkDuplicate = false; 		
    		//중복여부
    		var isDuplicatedId = true; 
    
    		//아이디 검증
    		new Promise((succ, fail) => {
    			$("#join_idInput").on('keyup', function(){
        			let loginId = $("#join_idInput").val();
        			if(loginId != ""){
        				if(idLength(loginId) == false){
        					$("#failure-text1").removeClass("d-none");
        					$("#failure-text2").addClass("d-none");
        					$("#availableText2").addClass("d-none");
        				}
        				else if(onlyNumberAndEnglish(loginId) == false){
        					$("#failure-text1").addClass("d-none");
        					$("#failure-text2").removeClass("d-none");
        					$("#availableText2").addClass("d-none");
        				}
        				else if(idLength(loginId) == true && onlyNumberAndEnglish(loginId) == true){
        					$("#availableText2").removeClass("d-none");
        					$("#failure-text1").addClass("d-none");
        					$("#failure-text2").addClass("d-none");
        					succ("유효성 검증 완료");
        				}
        				else {
        					$("#failure-text1").addClass("d-none");
        					$("#failure-text2").addClass("d-none");
        					$("#availableText2").addClass("d-none");
        				}
        			}    			
    			})
    		}).then((arg) => {
    			console.log(arg);
    			//Id중복확인
        		$("#join_idInput").on("input", function(){			
        			//입력이 바뀌면 중복체크를 다시해야함 , 중복확인과정 초기화
        			checkDuplicate = false;
        			isDuplicatedId = true;
        			$("#duplicateText").addClass("d-none");
					$("#availableText1").addClass("d-none");
					$("#availableText2").addClass("d-none");
        		})
        		
        		$("#check-duplicateBtn").on('click',function(){
        			let loginId = $("#join_idInput").val();
        			
        			$.ajax({
        				type:"get"
        				,url:"/user/duplicate-id"
        				,data:{"join_idInput" : loginId}
        				,success:function(data){
        					if(data.isDuplicate == true){
        						checkDuplicate = true;
        						isDuplicatedId = true;
        						$("#duplicateText").removeClass("d-none");
        						$("#availableText1").addClass("d-none");
        					} 
        					else  {
        						checkDuplicate = true;
        						isDuplicatedId = false;
        						$("#duplicateText").addClass("d-none");
        						$("#availableText1").removeClass("d-none");
        						$("#availableText2").addClass("d-none");
        					}
 
        				}, error:function(){
        					alert("중복확인 에러!");
        				}
        			})
        		})    			
    		})
    		
    		//비밀번호 검증
    			$("#join_PwInput").on('keyup', function(){
					let password = $("#join_PwInput").val();
				
					if(password != ""){
						if(strongPassword(password) == false){
							$("#availableText4").addClass("d-none");
							$("#failure-text4").removeClass("d-none");
							$("#failure-text5").addClass("d-none");
							return;
						} 
						else if(strongPassword(password) == true){	
							$("#availableText4").removeClass("d-none");
							$("#failure-text4").addClass("d-none");
							$("#failure-text5").addClass("d-none");
							return;
						}
						else {
							$("#availableText4").addClass("d-none");
							$("#failure-text4").addClass("d-none");
							$("#failure-text5").addClass("d-none");
							return;
						}
					}
    			})
    			//비밀번호 일치여부 확인
					$("#join_checkPwInput").on('keyup', function(){
						let password = $("#join_PwInput").val();
						let Checkpassword = $("#join_checkPwInput").val();
						if(isMatch(password, Checkpassword) == false) {
							$("#failure-text4").addClass("d-none");
							$("#failure-text5").removeClass("d-none");
							$("#availableText5").addClass("d-none");
							return;
						} 
						else if(isMatch(password, Checkpassword) == true) {
							$("#failure-text4").addClass("d-none");
							$("#failure-text5").addClass("d-none");
							$("#availableText5").removeClass("d-none");
							return;
						}
						else {
							$("#failure-text4").addClass("d-none");
							$("#failure-text5").addClass("d-none");
							$("#availableText5").addClass("d-none");
							return;
						}
					})
				
    		//계정만들기
		$("#join-accountBtn").on('click',function(){
			let id = $("#join_idInput").val();
			let password = $("#join_PwInput").val();
			let Checkpassword = $("#join_checkPwInput").val();
			let name = $("#join_userName").val();
			let imgFile = $("#imgFile")[0].files[0];
			let position = $("#positionBtn").val();
			let roomName = null;
			let roomPassword = null;
			
			if(id == ""){
				$("#failure-text3").removeClass("d-none");
				return;
			}
			if(!checkDuplicate){
				$("#failure-text3").addClass("d-none");
				$("#failure-id1").removeClass("d-none");
				return;
			}
			if(password == ""){
				$("#failure-pw1").removeClass("d-none");
				$("#failure-text3").addClass("d-none");
				$("#failure-id1").addClass("d-none");
				return;
			}
			if(Checkpassword == ""){
				$("#failure-pw2").removeClass("d-none");
				$("#failure-pw1").addClass("d-none");
				$("#failure-text3").addClass("d-none");
				$("#failure-id1").addClass("d-none");
				return
			}
			
			if(name == "") {
				$("#failure-name1").removeClass("d-none");
				$("#failure-pw2").addClass("d-none");
				$("#failure-pw1").addClass("d-none");
				$("#failure-text3").addClass("d-none");
				$("#failure-id1").addClass("d-none");
				return;
			}
			if(position == ""){
				$("#failure-position1").removeClass("d-none");
				$("#failure-name1").addClass("d-none");
				$("#failure-pw2").addClass("d-none");
				$("#failure-pw1").addClass("d-none");
				$("#failure-text3").addClass("d-none");
				$("#failure-id1").addClass("d-none");
				return;
			}
			
			if(position == "팀원"){
				if(roomName == ""){
					alert("참여할 방 이름을 적어주세요.");
					return;
				}
				if(roomPassword == ""){
					alert("방 비밀번호를 입력해주세요.");
					return
				}
				roomName = $("#join_roomName").val();
				roomPassword = $("#join_roomPw").val();
				
				new Promise((succ, fail) => {
					//방 중복인지 확인, 확인이 되어야 가입가능
					$.ajax({
						type:"post"
						,url : "/room/join/duplicate-room"
						,data : {"roomName" : roomName, "roomPw" : roomPassword}
						,success : function(data){
							if(data.isDuplicate == true){
								succ("방있음");
							} else {
								fail("그런방 없어요");
							}
						}
						,error : function(){
							fail("방 중복여부 오류");
						}
					})
				}).then((arg) => {
					//데이터 넘기기
					let formData = new FormData();
					formData.append("join_idInput", id);
					formData.append("join_checkPwInput", Checkpassword);
					formData.append("join_userName", name);
					formData.append("profile", imgFile);
					formData.append("position", position);
					formData.append("join_roomName", roomName);
					formData.append("join_roomPw", roomPassword);
					
					$.ajax({
						type:"post"
						,url :"/user/join"
						,data:formData
						,enctype:"multiplart/form-data"
						,processData:false
		    			,contentType:false
		    			,success:function(data){
		    				if(arg == "방있음") {
		    					location.href = "/member/before-apply-view";
		    					alert("팀원 회원가입 성공!");
		    				} else {
		    					alert("팀원 회원가입 실패!");
		    				}
		    			}
						,error : function(){
							alert("팀원 회원가입 에러!");
						}
					})	
				})
				.catch((error) => {
					alert(error);
				})
			}
			if(position == "팀장"){
				new Promise((succ, fail) => {
					let formData = new FormData();
					formData.append("join_idInput", id);
					formData.append("join_checkPwInput", Checkpassword);
					formData.append("join_userName", name);
					formData.append("profile", imgFile);
					formData.append("position", position);
					formData.append("join_roomName", roomName);
					formData.append("join_roomPw", roomPassword);
						
					$.ajax({
						type:"post"
						,url :"/user/join"
						,data:formData
						,enctype:"multiplart/form-data"
						,processData:false
			    		,contentType:false
			    		,success:function(data){
							succ(data.success);	
			    			location.href="/leader/login-view";			    			
			    		},error : function(){
			    			fail(data.fail);
			    			alert("팀장 회원가입 에러!");
			    		}
					})
				}).then((arg) => {
					$.ajax({
						type:"post"
						,url:"/work/insert/id"
						,data:{"userId" : arg}
						,success:function(data){
							if(data.result == "success"){
								alert("work userId 입력성공")
							} else {
								alert("work userId 입력실패")
							}
						},error : function(){
							alert("work userId 입력에러");
						}
					})
				})
			}
		})
	})
	</script>
</html>