<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/default}">

	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .notheader}"></th:block>
	</header>
	
	<section layout:fragment="content" class="mt-3">
		<div class="idInputDiv">
			<input type="text" class="idInput form-control" id="idInput" placeholder="아이디">
		</div>
		<div class="pwInputDiv">
			<input type="password" class="pwInput form-control" id="pwInput" placeholder="비밀번호">
		</div>
		<div class="loginBtnDiv">
			<div id="joinBtn"><a href="/user/join-view">회원가입</a></div>
			<div id="loginBtn">로그인</div>
		</div>
	</section>
	
	
	<script layout:fragment="script">
		$("#loginBtn").on('click',function(){
			let id = $("#idInput").val();
			let password = $("#pwInput").val();
			
			if(id == ""){
				alert("아이디를 입력해주세요.");
				return;
			}
			if(password == ""){
				alert("비밀번호를 입력해주세요.");
				return;
			}
			
			$.ajax({
				type:"post"
				,url:"/user/login"
				,data:{"idInput" : id, "pwInput" : password}
				,success:function(data){
					if(data.position == "leader") {
						location.href="/leader/login-view";
					}
					else if(data.position == "member") {
						if(data.isApprove == "notApprove") {
							location.href="/user/before-apply-view";
						} else {
							location.href="/user/after-apply-view";
						}
					}
				},error : function(){
					alert("로그인에러!");
				}
			})
		})
	</script>
	
</html>