<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layouts/default}">

	<header layout:fragment="header">
		<th:block th:replace="~{fragments/header :: .bigTitle}"></th:block>
	</header>
	
	<section layout:fragment="content" class="mt-3">
		<form id="loginForm">
			<div class="idInputDiv">
				<input type="text" class="idInput form-control" id="idInput" placeholder="아이디">
			</div>
			<div class="idInputDiv">
				<input type="password" class="pwInput form-control" id="pwInput" placeholder="비밀번호">
			</div>
			<div class="loginBtnDiv">
				<div id="joinBtn"><a href="/user/join-view">회원가입</a></div>
				<button id="loginBtn" type="submit">로그인</button>
			</div>
		</form>
	</section>
	
	
	<script layout:fragment="script">
	$(document).ready(function(){	
		$("#loginForm").on("submit", function(e){
			e.preventDefault();

			let id = $("#idInput").val();
			let password = $("#pwInput").val();
			
			if(id == ""){
				alert("아이디를 입력해주세요.");
				return;
			}
			if(password == ""){
				alert("비밀번호를 입력해주세요.");
				return;
			}
			
			$.ajax({
				type:"post"
				,url:"/user/login"
				,data:{"idInput" : id, "pwInput" : password}
				,success:function(data){
					if(data.position == "leader") {
						position = data.position;
						location.href="/leader/login-view";
					}
					else if(data.position == "member") {
						position = data.position;
						if(data.isApprove == "notApprove") {
							approve = data.isApprove;
							location.href="/member/before-apply-view";
						} else {
							approve = data.isApprove;
							location.href="/member/after-apply-view";
						}
					}
				},error : function(){
					alert("로그인에러!");
				}
			})
		})
	})	
	</script>
	
</html>